.filter-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.filter-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.filter-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.filter-container::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

.filter-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
/* .custom-checkbox{
  position:relative;
  z-index:99;
}
.custom-checkbox:before {
    border: 1px solid #dee2e6 !important;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background:#fff;
    z-index:9;
}
.custom-checkbox checked:before{
  z-index:-1;
} */

.cont {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}


.cont input:checked ~ .checkmark {
  background-color: #1472FD;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .checkmark:after {
  display: block;
}

.cont .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.label-text {
  margin-left: 10px;
  color: #212529;
  font-size: 16px;
  margin-top: -5px;
}
