MONGODB_URI=mongodb://localhost:27017/mydatabase
FRONTEND_URL=http://localhost:5173
EMAIL_USER=helloyrkesyho@gmail.com
EMAIL_PASS=dxzcqqmziralyqjm
JWT_SECRET=`MIICWwIBAAKBgQDZ6Mq+8BYa4CMWPu4FekK78vF5c8tzuTNHabBfqhIU9UJMisUV
pe4Y2nYgaLu7tq4UoQVrqH5lyWt6RQExu7gMr5quSkgBykcTpEEGxOprsCUYpxF4
HOVPhkUwJqYQPQw7MzqRpr6i4xjcLgAYrS200po2kYP2Q1hHEuMCV4ZdvwIDAQAB
AoGAbiBxPpgVg9WcxeRd5JTKXzRDh27W9pA1czTdtys7Yi4lKIvFWNB4CUV3B6AG
qLKFPdW26JbJ8mUeFTgEh37oX0otlBDP+VkAua5DWE4OG4YRZj/IEukTVBYpMgYp
WMFL4LQt6w569lzO9yZjpMYZ4SE7r+0yHdZtYIRiKqHqZhECQQDulXRxQSvCYzGO
odrQRf1H5J/uLmVTHUGkdZdEg/NjEl2w7ip8gdcB6LFlruMv4F+PqppZ6fZlW78J
tLGLRVKXAkEA6dD7cFtqdJvpNANOqh8e5S4YwyoVkc/t1zJOSx/TU3WSWXXIks5g
tTTOE0blmiCIWdDgpxppqSPXu94pz5u7GQJAGoGOMzrrUqhUjCUdO0BbWE5lGkAb
T7WTYmMSEDGcq6gRsqNzIuwF6BdjBgn9AYeq9joc9dpRXodn3PsvMmrcNwJAZ7Wf
YXXa4UAqjzyMTt8g6AyrRR3MlXGCEHqqyZ2jMZirwmyA+8T4lkeGxHwk6VlWwWfp
zZTkmvZgAV+IciKkOQJASHVPnmoJBRkaUAq1FzoPN1pA7cfDt1He6Ap36muzWHhy
pMhDXtVx5it2Ux/VQvQbMMcFPnb5LKdRH4vLP6I6Mg==`